#page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "page_top page_top page_top"
    "page_main page_main page_main"
    "page_foot page_foot page_foot"
}
#page.columns2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "page_top page_top"
    "page_nav page_nav"
    "page_foot page_foot"
}
#page.columns2 > #main {
  display: none;
}
#page.columns2 > #nav {
  display: block;
}
#top {
  grid-area: page_top;
}
#nav {
  grid-area: page_nav;
  display: none;
}
#main {
  grid-area: page_main;
}
#bar {
  grid-area: page_bar;
}
#foot {
  grid-area: page_foot;
}
