#nav_top a,
#nav_top div {
  display: flex;
  align-items: center;
}
.top_center {
  flex: 1 1 auto;
  justify-content: left;
  box-shadow: 0 2px 2px -2px #96bb7c,
              0 25px 5px -5px #f7f7f7;
}
.nav_tabs {
  margin: 0 10px;
}
.nav_tabs > a {
  text-decoration: none;
  color: #2a2a2a;
  padding: 10px 15px;
  border-radius: 10px;
}
.nav_tabs > a.on {
  background: #e0ece4;
}
.nav_tabs > a:not(:first-child) {
  margin-left: 20px;
}
